@import 'wallust/colors-wlogout.css';


* {
	font-family: JetBrainsMono Nerd Font Propo;
    font-weight: bolder;
    font-size: 20px;
}

window {
    background-color: @bg-color;
}

button {
    color: @fg-color;
    background: @button-bg;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 5px;
    outline-style: none;
}

button:hover {
    color: @background-alt;
    background: @tn-selected;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 5px;
    outline-style: none;
}



/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em; /* Increase the font size */
}


#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover {
    background-image: image(url("./icons/lock-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:hover {
    background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}
#suspend:hover {
    background-image: image(url("./icons/sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
    background-image: image(url("./icons/power-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
    background-image: image(url("./icons/restart-hover.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover {
    background-image: image(url("./icons/hibernate-hover.png"));
}
