@define-color foreground #D0DEF2;
@define-color background rgba(19,19,26,0.25);
@define-color cursor #D0DEF2;

@define-color color0 #3B3A42;
@define-color color1 #050C28;
@define-color color2 #060F2E;
@define-color color3 #192C6D;
@define-color color4 #203785;
@define-color color5 #5C3E46;
@define-color color6 #5B78A3;
@define-color color7 #B4C7E4;
@define-color color8 #7E8B9F;
@define-color color9 #061035;
@define-color color10 #08143D;
@define-color color11 #223B92;
@define-color color12 #2B49B1;
@define-color color13 #7B535E;
@define-color color14 #79A0D9;
@define-color color15 #B4C7E4;
